@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

/* CUSTOM CSS */

    /* SWIPER */
.swiper {
    width: 90vw;
    height: auto;
    padding: 4rem !important;
    margin-top: -3rem;
}

.swiper-button-prev {
    color: #342E37 !important;
}

.swiper-button-next {
    color: #342E37 !important;
}

.nav__menu_bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F3EFF5;
    padding: 1rem 1.5rem 1rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 0rem 0rem 0 0;
    transition: .3s;

    display: none;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__icon {
    font-size: 2rem;
}
